<div class="slider">
    <div>
        <div class="slider-img"><img class="slider-img" src="assets/images/slider-1.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="slider-captions">
                    <h1 class="slider-title">Center for a Quick Repair.</h1>
                    <p class="slider-text">Bring or send your washing machine, Air Conditioner, Refrigrator, or oven to the Service center for a quick repair.</p>
                    <a href="/#/contact-us" class="btn btn-default">Hire Us</a> </div>
            </div>
        </div>
    </div>
    <!--     <div>
        <div class="slider-img"><img src="assets/images/slider-large-3.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="slider-captions">
                    <h1 class="slider-title">Receive Instant Service!</h1>
                    <p class="slider-text">We offer repair many different types of devices including computers, smartphones, tablets, gaming consoles etc...</p>
                    <a href="#" class="btn btn-default">Meet The Team</a> </div>
            </div>
        </div>
    </div> -->
</div>
<div class="container">
    <div class="col-md-4 col-sm-4 col-xs-12 pull-right" style="padding:0px;background:rgba(0,0,0,0.6);margin-top:-38%;position:relative;">
        <div class="thim-register-now-form">
            <div class="title">
                <h3 class="com">Get in touch<br> with Us</h3>
            </div>
            <div id="wpcf7-f85-p12-o1" class="wpcf7" dir="ltr" role="form" lang="en-US">
                <div class="screen-reader-response"></div>
                <form class="wpcf7-form" name="userForm" ng-submit="sendQuery(userForm.$valid, user)">
                    <p class="col-md-6 col-sm-6" style="padding:0px;">
                        <input name="name" type="text" placeholder="Full Name" ng-model="user.name" class="form-control input-md" required>
                    </p>
                    <p class="col-md-6 col-sm-6" style="padding-left:5px;padding-right:0px;">
                        <input name="email" type="email" placeholder="Email" ng-model="user.email" class="form-control input-md" required>
                    </p>
                    <p>
                        <input name="contact" type="number" placeholder="Contact Number" ng-model="user.contact" class="form-control input-md" required>
                    </p>
                    <select name="subject" ng-model="user.subject" class="form-control input-md" required>
                        <option value="" selected>Enquire for..</option>
                        <option value="AC">AC</option>
                        <option value="Want to hire for Refrigerator">Refrigerator</option>
                        <option value="Want to hire for Washing Machine">Washing Machine</option>
                        <option value="Want to hire for Microwave Oven">Microwave Oven</option>
                        <option value="Want to hire for Geyzers">Geyzers</option>
                        <option value="Want to hire for Water Cooler">Water Cooler</option>
                        <option value="Want to hire for Water Dispenser">Water Dispenser</option>
                        <option value="Want to hire for Freezer">Freezer</option>
                        <option value="Want to hire for Chiller">Chiller</option>
                        <option value="Want to hire for Other">Other</option>
                    </select>
                    <textarea class="form-control" style="height:70px!important;" placeholder="Enter Message Here.."></textarea>
                    <p>
                        <input class="wpcf7-form-control wpcf7-submit" value="Submit" type="submit">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:40px;">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:60px;">
            <h1 class="text-center headingstyle"> Welcome To our Company </h1>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin:auto;float:none;">
                <p class="text-center" style="margin-top:10px;">Ac Repair in Delhi, Ac Repair in Gurgaon And NCR for over 12 years, Alcon Engg. Solutions brings to the home appliances (of washing machine (Semi Automatic and Fully Automatic), Air Conditioner, Refrigrator and Refrigrator) repair and service sector a lifetime of experience in the perfection of our craft. Whether you need to repair or replace your home appliances, you can count on Alcon Engg. Solutions. We Provide a Complete Service for Reparing All Brands of Air-Conditioners & Refrigeration (L.G , Samsung, Whirlpool, Onida, Videocon, Carrier Hitachi Brands). </p>
                <div class="col-md-8 col-sm-8 col-xs-12" style="margin:auto;float:none;">
                    <center>
                        <a href="/#/about-us" class="readmorestyle"> Know More </a>
                        <a href="/#/contact-us" class="readmorestyle1"> Contact Us </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#111B25;padding-right:0px;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right:0px;">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
            <h1 style="font-size: 32px;color: #a9aeb4;">WHO WE ARE</h1>
            <div class="tl-spoiler  wpb_content_element iconbox-style-2 icon-color-custom color-dark clearfix" style="margin-bottom:20px;margin-top:20px;">
                <h6 style="color:#fff" class=""><i class="fa fa-check boxicon" style="color: #fff;"></i> &nbsp; &nbsp; WE ARE PASSIONATE</h6>
                <!-- <div class="su-clearfix tl-spoiler-content" style="color:#fff">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur!</div> -->
            </div>
            <div class="tl-spoiler  wpb_content_element iconbox-style-2 icon-color-custom color-dark clearfix" style="margin-bottom:20px;">
                <h6 style="color:#fff" class=""><i class="fa fa-check boxicon" style="color: #fff;"></i> &nbsp; &nbsp; HONEST AND DEPENDABLE</h6>
                <!-- <div class="su-clearfix tl-spoiler-content" style="color:#fff">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur!</div> -->
            </div>
            <div class="tl-spoiler  wpb_content_element iconbox-style-2 icon-color-custom color-dark clearfix" style="margin-bottom:20px;">
                <h6 style="color:#fff" class=""><i class="fa fa-check boxicon" style="color: #fff;"></i> &nbsp; &nbsp; Call Us Today - +91-8586-09-5330 - We Answer Our Phones 24/7</h6>
                <!-- <div class="su-clearfix tl-spoiler-content" style="color:#fff">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur!</div> -->
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0px;">
            <div class="col-md-12 col-sm-12 col-xs-12" style="background:url('assets/images/who.jpg');height:200px;">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:40px;border-bottom:2px solid #ddd;">
    <div class="container" style="margin-bottom:40px;">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 section-title">
                <!-- section title -->
                <h1 class="text-center headingstyle">Get Your Repair Started</h1>
            </div>
            <!-- /.section title -->
        </div>
        <div class="row">
            <div class="col-md-3 service-image-block col-sm-3">
                <!-- service-block -->
                <div class="service-image-inner">
                    <div class="service-img">
                        <a href="#"><img src="assets/images/ac-repair-services-500x500.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <h2><a href="#" class="heading-title">Ac Repairs</a></h2>
                    <p>Nam elementu orpernec ac odio nono non justo rutru justo rutrum finibus lamcorper.</p>
                </div>
            </div>
            <div class="col-md-3 service-image-block col-sm-3">
                <!-- service-block -->
                <div class="service-image-inner">
                    <div class="service-img">
                        <a href="#"><img src="assets/images/washing-machine-image.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <h2><a href="#" class="heading-title">Washing machine Repairs</a></h2>
                    <p>Nam elementu orpernec ac odio nono non justo rutru justo rutrum finibus lamcorper.</p>
                </div>
            </div>
            <div class="col-md-3 service-image-block col-sm-3">
                <!-- service-block -->
                <div class="service-image-inner">
                    <div class="service-img">
                        <a href="#"><img src="assets/images/appliance-repair-right-img.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <h2><a href="#" class="heading-title">Refrigerator Repairs</a></h2>
                    <p>Nam elementu orpernec ac odio nono non justo rutru justo rutrum finibus lamcorper.</p>
                </div>
            </div>
            <div class="col-md-3 service-image-block col-sm-3">
                <!-- service-block -->
                <div class="service-image-inner">
                    <div class="service-img">
                        <a href="#"><img src="assets/images/oven-repair.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <h2><a href="#" class="heading-title">Ovens Repairs</a></h2>
                    <p>Nam elementu orpernec ac odio nono non justo rutru justo rutrum finibus lamcorper.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:url('assets/images/testimonial.jpg');background-size:cover;min-height:450px;">
    <div class="container" style="padding:15px;">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title">
                <h1 style="color:#fff;">What Customer are Says</h1>
                <p style="color:#fff;">Please look through our testimonials to get a better understanding of our affordable services.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-v2">
                    <!-- testimonial -->
                    <div>
                        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                            <div class="testimonial-v2-caption">
                                <p style="color:#fff;">"I was very impressed by the service I received from fixit. They were knowledgeable and honest about what to expect from them. I think they take pride in their results and so give a hundred percent."</p>
                            </div>
                            <div class="testimonial-v2-author">
                                <!-- <div class="testimonial-v2-img"><img src="assets/images/testimonial-pic.jpg" alt=""></div> -->
                                <h3 class="testimonial-v2-name" style="color:#fff;">Delhi-NCR</h3>
                                <span class="testimonial-v2-meta">AC Repair service</span> </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                            <div class="testimonial-v2-caption">
                                <p style="color:#fff;">"I was very impressed by the service I received from fixit. They were knowledgeable and honest about what to expect from them. I think they take pride in their results and so give a hundred percent."</p>
                            </div>
                            <div class="testimonial-v2-author">
                                <!-- <div class="testimonial-v2-img"><img src="assets/images/testimonial-pic.jpg" alt=""></div> -->
                                <h3 class="testimonial-v2-name" style="color:#fff;">Faridabad-UP</h3>
                                <span class="testimonial-v2-meta">Washing Machine Repair service</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin:40px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title">
                <h1>We work with every brand</h1>
                <p>We work on almost all of the more popular brands. We are the <strong class="text-highlight">#1 digital device repair</strong> shop in Country</p>
            </div>
        </div>
        <div class="a" id="a1">
            <ul>
                <li><img src="assets/images/BPL.jpg" style="width:100px;"></li>
                <li><img src="assets/images/godrej.jpg" style="width:100px;"></li>
                <li><img src="assets/images/Haier.jpg" style="width:100px;"></li>
                <li><img src="assets/images/hitachi.jpg" style="width:100px;"></li>
                <li><img src="assets/images/lg.jpg" style="width:100px;"></li>
                <li><img src="assets/images/panasonic.jpg" style="width:100px;"></li>
                <li><img src="assets/images/philips.jpg" style="width:100px;"></li>
                <li><img src="assets/images/samsung.jpg" style="width:100px;"></li>
                <li><img src="assets/images/sansui.jpg" style="width:100px;"></li>
                <li><img src="assets/images/Siemens.jpg" style="width:100px;"></li>
                <li><img src="assets/images/sony.jpg" style="width:100px;"></li>
                <li><img src="assets/images/Thomson.jpg" style="width:100px;"></li>
                <li><img src="assets/images/Videocon.jpg" style="width:100px;"></li>
                <li><img src="assets/images/Toshiba.jpg" style="width:100px;"></li>
                <li><img src="assets/images/Whirlpool.jpg" style="width:100px;"></li>
            </ul>
        </div>
    </div>
</div>
