<div ng-controller="navbarCtrl">
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12 ">
                    <div id="navigation">
                        <!-- navigation -->
                        <ul>
                            <li><a href="/#/" title="Home">Home</a></li>
                            <li><a href="/#/about-us" title="About Us">About Us</a></li>
                            <li><a href="/#/AMC" title="About Us">AMC</a></li>
                            <li><a href="/#/brands" title="Feature">Brands</a></li>
                            <li><a href="javascript:void(0)" class="animsition-link">Service</a>
                                <ul>
                                    <li><a href="" class="animsition-link">Repair &amp; Service Center </a>
                                        <ul>
                                            <li><a href="" class="animsition-link">Washing Machine Repair &amp; Service Center</a></li>
                                            <li><a href="" class="animsition-link">AC Repair &amp; Service Center</a></li>
                                            <li><a href="" class="animsition-link">Oven Repair &amp; Service Centers</a></li>
                                            <li><a href="" class="animsition-link">Refrigrator Repair &amp; Service Centers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="" class="animsition-link">On Rent</a>
                                        <ul>
                                            <li>
                                                <a href="" class="animsition-link"></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)" title="News" class="animsition-link">Services Areas</a>
                                <ul>
                                    <li><a href="" class="animsition-link">Washing Machine Services Areas</a></li>
                                    <li><a href="" class="animsition-link">AC Services Areas</a></li>
                                    <li><a href="" class="animsition-link">Oven Services Areass</a></li>
                                    <li><a href="" class="animsition-link">Refrigrator Services Areass</a></li>
                                </ul>
                            </li>
                            <li><a href="/#/contact-us" title="Contact Us">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- navigation -->
                </div>
                <div class="col-md-2 social-nav col-sm-3 hidden-xs hidden-sm">
                    <ul class="listnone">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <!-- header -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 navbar-brand col-sm-3 col-xs-5">
                    <a href="/#/" title="AC Repair Faridabad"><img src="/assets/images/logo.png" alt="AC Repair Faridabad" class="imghjk"></a>
                </div>
                <div class="col-md-offset-1 col-md-8">
                    <div class="row">
                        <div class="col-md-3 store-block hidden-sm hidden-xs pull-right">
                            <div class="store-icon"><i class="fa fa-envelope" style="color:#FD951C;"></i></div>
                            <div class="store-box"><span class="store-title">Service time</span>
                                <div class="store-time" style="color:#FD951C;">24 X 7</div>
                            </div>
                        </div>
                        <div class="col-md-4 need-block col-sm-4 col-xs-7 pull-right">
                            <div class="need-icon"><i class="fa fa-clock-o" style="color:#FD951C;"></i></div>
                            <div class="need-box"><span class="help-title">Call Us Today</span>
                                <div class="help-number" style="color:#FD951C;"><p>+91-9992-75-8276</p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
