<div ng-controller="footerCtrl">
    <!-- *** NAVBAR ***
_________________________________________________________ -->
    <div class="tiny-footer" style="background:#2C2C2C;padding:5px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="copyright-text" style="color:#fff;">Copyright © 2017 AC Repair Faridabad</p>
                    <p>Developed By : Ajit Kumar(+91-9015595883)</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="copyright-text" style="color:#fff;">
                        <a href="/#/about-us" style="color:white;margin:0px 10px;">About</a> |
                        <a href="#" style="color:white;margin:0px 10px;">Our Services</a> |
                        <a href="#" style="color:white;margin:0px 10px;">Services Area</a> |
                        <a href="/#/AMC" style="color:white;margin:0px 10px;">AMC</a> |
                        <a href="/#/brands" style="color:white;margin:0px 10px;">Brands</a> |
                        <a href="/#/contact-us" style="color:white;margin:0px 10px;">Contact Us</a> |
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
